# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

*.sublime-workspace

libtool
Makefile

*.sublime-workspace

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4


/config

# Python folders
/python/test/.idea
/.deps/*

# Python files
*.pyc



*.dirstamp
*.deps

*~

.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.o-*
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
python/autom4te.cache
*.bak
