<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/jcollins/Documents/West_Texas/Research/Bertini/b2_JebFork/b2Test/b2Test.xcodeproj</string>
</dict>
</plist>
