# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
ltmain.sh

config.h
config.h.in
config.status

libtool
Makefile

/bertini2
b2_timing_test
b2_class_test
test_tree_interactive
settings_test
tracking_basics_test
b2_classic_compatibility_test
endgames_test
pool_test
nag_algorithms_test
generating_test
nag_datatypes_test
blackbox_test

cachegrind.out.*

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ltmain.sh


serialization_test*
*.log
.libs/*

*.trs

/config

.DS_Store
*.dirstamp
*.deps

*.dtps
# these are data files from iprofiler, from osx


*~


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.rej



# Maple files
test/tracking_basics/*.bak
