<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bertini2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SLP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test_Appen1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test_Appen13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Test_Appen2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Test_Appen3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Test_Diff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Test_Res3_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Test_Res5_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>621F93E9190AF58F00096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621F9401190AFE7B00096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621F9419190B0F5800096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621F94311910583000096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621F944C1912B3AE00096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621F94621912D33C00096F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62A3B71618F7546900B3E0DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C5DA82183BCBEE00ED0AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C5DA92183BCC0E00ED0AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62C5DA9F183BCFF100ED0AD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
