<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPFR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>QiPlay 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>QiPlay.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>QiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Variadic Templates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87BAFE511AB4F1E50097B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BAFE611AB539E50097B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BAFE6F1AB6048D0097B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87BAFE7C1AB629190097B6B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87C4BCCD1AD98DC100767B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87EC866A1AEFC97E002FAC3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87F5798E1AE9AABE00DBC839</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
